extends layouts/main
include mixins/videoPlayer

block content
    span.display-none#jsLoggedUser=loggedUser
    .private-notification__modal.display-none#jsModal
        .modal__background
        .modal__container
            span Sorry, It's for members!
            p Please Join or Log in.
            .buttons
                a(href=routes.join) Join
                a(href=routes.login) Log in 
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 조회수 1
            else 
                span.video__views 조회수 #{video.views}
            .video__author
                |Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 댓글
                    |  1개
            else
                span.video__comment-number
                    |댓글  
                    span#jsCommentNumber=video.comments.length + "개"
            form.add__comment#jsAddComment
                if user
                    img.comment-avatar(src=`http://localhost:4000/${user.avatarUrl}`)
                else
                    img.comment-avatar(src="http://localhost:4000/lib/images/bear.png")
                input(type="text", placeholder="공개 댓글 추가...", name="comment")
            ul.video__commnets-list#jsCommentList
                each comment in video.comments.reverse()
                    li(id=comment.id)
                        img.comment-avatar(src=`http://localhost:4000/${comment.creator.avatarUrl}`)
                        .comment-list__content
                            .commnets-list__info
                                span=comment.creator.name 
                                |&nbsp;&nbsp;  
                                span.jsCreateAt=comment.createAt
                            .commnets-list__text    
                                span=comment.text
                            .commnets-list__bottom
                                .bottom__atc                           
                                    if loggedUser && comment.likes.indexOf(loggedUser.id) > -1
                                        span.jsLike
                                            i.fas.fa-heart
                                    else
                                        span.jsLike
                                            i.far.fa-heart
                                    span.jsReplyButton 답글
                                    if loggedUser && comment.creator.id === loggedUser.id
                                        span.jsDeleteComment 삭제
                                .bottom__reply.display-none
                                    form.bottom__reply-form.jsAddReply
                                        if user
                                            img.reply-avatar(src=`http://localhost:4000/${user.avatarUrl}`)
                                        else
                                            img.reply-avatar(src="http://localhost:4000/lib/images/bear.png")
                                        input(type="text", placeholder="공개 답글 추가...", name="reply")
                                    ul.bottom__reply-text
                                        each reply in comment.replies 
                                            li 
                                                span=reply.text
                                 
                        


                        
                        